body
{
    text-align: center;
    

}

.heading{
    background-color: rgb(0, 216, 216);
    color: rgb(0, 71, 71);
    top:0px ;
    width: 100%;
}

.button-1{
    float: right;
}

h2{
    display: inline;

}

.play{
    background-color: rgb(218, 176, 218);
    color: rgb(77, 0, 77);
    font-size: 18px;
}

#status{
    background-color: rgb(218, 176, 196);
    color: rgb(77, 0, 51);
    font-size: 18px;
}